.container__input {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    border-radius: 10px;
    border: 1px solid #969696;
    width: 322px;
}

.container__input:focus-within, .container__input:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input {
    width: 250px;
    border: none;
    outline: none;
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 10px;
}

.button {
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    padding: 0 15px;
    color: #fff;
    background: linear-gradient(70deg, rgb(194, 113, 237), rgb(101, 73, 221));
    transition: ease-in-out .3s;
}

.button:hover{
    filter: brightness(125%);
}

.search_container{
    display: flex;
    justify-content: space-around;
    width: fit-content;
}